<div class="threadpost" [id]="'r' + thread?.id">
  <div *ngIf="thread?.imageFileName">
    檔名：<a href="http://myth.nagatoyuki.org/src/1489539217048.jpg" target="_blank">1489539217048.jpg</a>-(12 KB, 468x265) <small>[以預覽圖顯示]</small><br /><a href="http://myth.nagatoyuki.org/src/1489539217048.jpg" rel="_blank"><img src="http://myth.nagatoyuki.org/thumb/1489539217048s.jpg" class="img" alt="12 KB" title="12 KB" /></a>
  </div>
  <input type="checkbox" [name]="thread?.id" value="delete" /><span class="title">{{thread?.title || defaultMessage.title}}</span>
  名稱: <span class="name">{{thread?.author || defaultMessage.author}}</span><span class="tripcode" *ngIf="thread?.tripcode">◆{{thread?.tripcode}}</span> [17/03/13(一)02:21 ID:{{thread?.identityHash}}] <a [routerLink]="['/thread', thread?.id || 0]" [queryParams]="{r: thread?.id}" class="qlink">No.{{thread?.id}}</a>&nbsp;<a *ngIf="!replyMode" [routerLink]="['thread', thread?.id]" >[回應]</a>
  <div class="quote" [innerHTML]="thread?.message || defaultMessage.message"></div>
</div>

<div class="reply" *ngFor="let post of thread?.replies" [id]="'r' + post.id">
  <div *ngIf="post.imageFileName">
    檔名：<a href="http://myth.nagatoyuki.org/src/1489539217048.jpg" target="_blank">1489539217048.jpg</a>-(12 KB, 468x265) <small>[以預覽圖顯示]</small><br /><a href="http://myth.nagatoyuki.org/src/1489539217048.jpg" rel="_blank"><img src="http://myth.nagatoyuki.org/thumb/1489539217048s.jpg" class="img" alt="12 KB" title="12 KB" /></a>
  </div>
  <input type="checkbox" [name]="post.id" value="delete" /><span class="title">{{post.title || defaultMessage.title}}</span>
  名稱: <span class="name">{{post.author || defaultMessage.author}}</span><span class="tripcode" *ngIf="post.tripcode">◆{{post.tripcode}}</span> [17/03/13(一)02:21 ID:{{post.identityHash}}] <a [routerLink]="['/thread', thread?.id]" [queryParams]="{r: post.id}" class="qlink">No.{{post.id}}</a>&nbsp;
  <div class="quote" [innerHTML]="post.message || defaultMessage.message"></div>
</div>

<hr />